<div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Left Side - Current Weather -->
        <%= render partial: "today_weather", locals: { presenter: @presenter } %>

        <!-- Right Side - Forecast -->
        <%= render partial: "forecast", locals: { presenter: @presenter } %>
    </div>
</div>